.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} 
input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  background-color: #4CAF50;
  color: white;
  float:left;
  padding: 14px 20px;
  margin: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #45a049;
}
.formInput{
  float :left;
}
span.formInput{
  width:33%;
}
input[type=text].formInput{
  width:33%;
  margin:10px;

}
.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 50px;
}

.loginOrSearch img{
  height: 50px;
  float:right;
  margin:20px;
  cursor: pointer;
}

.userBox {
  border: solid 2px black;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: auto;
}

.userBox .plusButton{
  height:22px;
  float:left;
}